* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/*---Container---*/

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

/*---Header--*/

.header {
	height: 595px;
	background-color: #87509c;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
	align-items: center;
}

.header__logo {
	margin-left: 210px;
}

/*---Nav--*/

.nav {
	font-size: 16px;
	margin-right: 195px;
	font-family: "TitilliumWeb-Regular", sans-serif;
	display: flex;
}

.nav__link {
	margin-left: 40px;
	color: #ffffff;
	text-decoration: none;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	padding: 12px;
	border-radius: 7px;
	background: #643a79;
}

/*---intro--*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 65px;
}

.intro__inner {
	width: 100%;
	max-width: 906px;
	height: 88px;
	margin: 0 auto;
}

.intro__title {
	font-family: "Titillium Web", sans-serif;
	font-size: 41px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: normal;
	text-align: center;
	line-height: 1.15;
}

/*---Button--*/

.btn {
	width: 293px;
	height: 70px;
	padding: 28px 0 0;
	margin: 54px 378px 0 550px;
	border-radius: 4px;
	font-family: "TitilliumWeb-SemiBold", sans-serif;
	font-size: 17px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	opacity: 1;
	transition: 0.3s;
}

.btn:hover {
	opacity: 0.6;
}

.btn--red {
	background-color: #eb7d4b;
}

/*--title--*/

.title {
	font-family: "Titillium Web", sans-serif;
	font-size: 40px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.75;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 120px;
	margin-bottom: 21px;
}

.line {
	border-bottom: 4px solid;
	width: 87px;
	opacity: 0.15;
	background-color: #000000;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	margin-top: 23px;
	font-family: "TitilliumWeb-Regular", sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.36px;
	text-align: center;
}

/*---services---*/

.services {
	background-color: #17c2a4;
	height: 747px;
}

.title__white {
	color: #ffffff;
}

.subtitle__white {
	color: #ffffff;
}

.services__toll {
	margin-top: 324px;
	margin-bottom: 125;
}

.services__item {
	display: inline-block;
	width: 24%;
	padding-top: 62px;
	padding-bottom: 130px;
	text-align: center;
}

.services__icon {
	padding-bottom: 62px;
}

.services__title {
	height: 18px;
	font-size: 24px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.75;
	letter-spacing: 0.48px;
	text-align: left;
	color: #ffffff;
	margin-bottom: 27px;
	text-align: center;
}

.services__text {
	font-family: "Titillium Web-Light", sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.32px;
	text-align: center;
	color: #ffffff;
}
