* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

body {
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
	width: 100%;
	max-width: 1440px;
}

/*----container----*/

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

/*---Header--*/

.header {
	width: 100%;
	max-width: 1440px;
	background-color: #87509c;
	height: 600px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 55px 0;
	align-items: center;
}

.header__logo {
	margin-left: 100px;
}

/*---Nav--*/

nav {
	margin-left: 200px;
	margin-right: 100px;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #ffffff;
	padding: 10px 20px;
	opacity: 0.75;
	transition: 0.5s;
}

.nav__link:hover {
	background-color: #643a79;
	opacity: 1;
	border-radius: 7px;
	transition: 0.5s;
}

/*---intro--*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro__inner {
	width: 100%;
	max-width: 900px;
	height: 88px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin-bottom: 60px;
	padding-top: 100px;
	font-size: 41px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.15;
}

/*---Button--*/

.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	color: #ffffff;
	padding: 25px 60px;
	border-radius: 7px;
	opacity: 0.85;
	transition: background 0.1s linear;
}

.btn:hover {
}

.btn--red {
	background-color: #eb7d4b;
}

.btn--red:hover {
	background-color: #c5744e;
}

.btn--blue {
	margin-top: 40px;
	background-color: #17c2a4;
	cursor: pointer;
}

.btn--blue:hover {
	background-color: #1a8571;
}

/*--title--*/

.title {
	font-family: "Titillium Web", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 0.75;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 120px;
	margin-bottom: 21px;
}

.line {
	border-bottom: 4px solid;
	width: 87px;
	opacity: 0.15;
	background-color: #000000;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	margin-top: 23px;
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.36px;
	text-align: center;
	opacity: 0.85;
}

/*---services---*/

.services {
	width: 100%;
	max-width: 1440px;
	background-color: #17c2a4;
	height: 750px;
}

.title__white {
	color: #ffffff;
}

.subtitle__white {
	color: #ffffff;
}

div .services__toll {
}

.services__item {
	width: 24.7777%;
	margin-top: 85px;
	display: inline-block;
}

.caption {
	text-align: center;
	margin: 10px 0 0 0;
}

.services__icon {
	display: block;
	margin: 0 auto;
	padding-bottom: 62px;
}

.services__title {
	height: 18px;
	font-size: 24px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.75;
	letter-spacing: 0.48px;
	color: #ffffff;
	margin-bottom: 27px;
	text-align: center;
}

.services__text {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: #ffffff;
	opacity: 0.85;
}

/*---team---*/

.team {
	width: 100%;
	max-width: 1440px;
	background-color: #e7f1f8;
	height: 915px;
}

.title__blue {
	color: #3c4761;
}

.subtitle__blue {
	color: #3c4761;
}

.team__item {
	width: 24.7777%;
	margin-top: 85px;
	display: inline-block;
}

.team__icon {
	display: block;
	margin: 0 auto;
	padding-bottom: 45px;
}

.team__people {
	height: 18px;
	font-size: 24px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.75;
	letter-spacing: 0.48px;
	color: #3c4761;
	margin-bottom: 15px;
	text-align: center;
}

.team__text {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: #3c4761;
	opacity: 0.85;
	margin-bottom: 35px;
}

.team__status {
	color: #30bae7;
	margin-bottom: 25px;
}

.social__link a {
	margin: 0 4px;
}

/*----skills----*/

.skills {
	width: 100%;
	max-width: 1440px;
	background-color: #ffffff;
	height: 655px;
}

/*----circle----*/

.block__circle {
	margin-top: 65px;
}

.flex-wrapper {
	display: flex;
	flex-flow: row nowrap;
}

.single-chart {
	width: 33%;
	justify-content: space-around;
}

.circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 70%;
	max-height: 250px;
}

.circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
}

.circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}

.circular-chart.orange .circle {
	stroke: #eb7d4b;
}

.circular-chart.green .circle {
	stroke: #15c7a8;
}

.circular-chart.blue .circle {
	stroke: #30bae7;
}

.circular-chart.rose .circle {
	stroke: #d74680;
}

.percentage {
	fill: #666;
	font-family: sans-serif;
	font-size: 0.5em;
	text-anchor: middle;
}

.circle__text {
	margin-top: 20px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #3c4761;
	text-align: center;
	text-transform: uppercase;
}

/*----portfolio----*/

.portfolio {
	width: 100%;
	max-width: 1440px;
	background-color: #ffdd99;
	height: 1430px;
}

.title__gray {
	color: #393939;
}

.subtitle__gray {
	color: #393939;
}

/*----radio-btn----*/

.prod_checbox {
	color: #393939;
	display: block;
	margin-top: 30px;
}

.radio-toolbar {
	width: fit-content;
	text-align: center;
	margin: 0 auto;
}

.radio-toolbar input[type="radio"] {
	display: none;
}

.radio-toolbar label {
	font-size: 17px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	line-height: 1.11;
	letter-spacing: 0.36px;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #b1996b;
	margin-right: 10px;
}

.radio-toolbar input[type="radio"]:checked + label {
	background-color: #fafafa;
}

.radio-toolbar label:hover {
	opacity: 0.7;
}

/*----works----*/

.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 70px 0;
}

.laptop {
	margin: 25px;
	padding-bottom: 25px;
}

.laptop p {
	margin-top: 25px;
	text-align: center;
	font-size: 18px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	line-height: 1.11;
	letter-spacing: 0.36px;
	color: #393939;
}

/*----about----*/

.about {
	width: 100%;
	max-width: 1440px;
	background-color: #d74680;
	height: 895px;
}

.comment {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 70px 0 100px -40px;
}

.comment__item {
	margin-left: 120px;
	padding-bottom: 30px;
}

.comment__icon {
	padding-right: 50px;
}

.comment__text {
	float: right;
	width: 330px;
}

.comment__text p:first-child {
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	font-size: 21px;
	font-style: italic;
	line-height: 1.44;
	letter-spacing: 0.43px;
	color: #ffffff;
}

.comment__text h4 {
	font-family: "Titillium Web", sans-serif;
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.08;
	letter-spacing: 0.48px;
	color: #ffffff;
	margin: 30px 0 10px;
}

.comment__text p:last-child {
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.36px;
	text-align: left;
	color: #ffdd99;
}

/*----get----*/

.get {
	width: 100%;
	max-width: 1440px;
	background-color: #3c5499;
	height: 820px;
}

.form {
	text-align: center;
	margin-top: 75px;
}

.form input {
	width: 415px;
	height: 55px;
	margin: 0 25px;
	background-color: #273a71;
	border-radius: 7px;
}

.form input::placeholder {
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	padding-left: 25px;
	opacity: 0.75;
}

.form input[type="text"]:focus {
	font-family: "Titillium Web", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #ffffff;
	padding-left: 25px;
}

.form textarea {
	width: 880px;
	height: 200px;
	margin-top: 30px;

	background-color: #273a71;
	border-radius: 7px;
}

.form textarea::placeholder {
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	padding-left: 25px;
	padding-top: 25px;
	opacity: 0.75;
}

.form textarea[type="text"]:focus {
	font-family: "Titillium Web", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #ffffff;
	padding-left: 25px;
	padding-top: 25px;
}

.send {
	text-align: center;
}

/*----footer----*/

footer {
	width: 100%;
	max-width: 1440px;
	background-color: #344b8e;
	height: 115px;
}

.footer__link {
	text-align: center;
	line-height: 115px;
}

.footer__link a {
	margin: 0 35px;
	font-family: "Titillium Web", sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
}

.footer__link a:hover {
	transition: 0.5s;
	color: #30bae7;
}
