* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

body {
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
}

/*----container----*/

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

/*---Header--*/

.page1 {
	height: 600px;
	background-color: #87509c;
	background-size: cover;
}

.header {
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 55px 0;
	align-items: center;
}

.header__logo {
	margin-left: 100px;
}

/*---Nav--*/

nav {
	margin-left: 200px;
	margin-right: 100px;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #ffffff;
	padding: 10px 20px;
	opacity: 0.75;
	transition: 0.5s;
}

.nav__link:hover {
	background-color: #643a79;
	opacity: 1;
	border-radius: 7px;
	transition: 0.5s;
}

/*---intro--*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro__inner {
	width: 100%;
	max-width: 900px;
	height: 88px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin-bottom: 60px;
	padding-top: 100px;
	font-family: "Titillium Web", sans-serif;
	font-size: 41px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.15;
}

/*---Button--*/

.btn {
	display: inline-block;
	vertical-align: top;

	font-size: 17px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	color: #ffffff;
	padding: 25px 60px;
	border-radius: 7px;
	opacity: 0.85;
	transition: background 0.1s linear;
}

.btn:hover {
}

.btn--red {
	background-color: #eb7d4b;
}

.btn--red:hover {
	background-color: #c5744e;
}

/*--title--*/

.title {
	font-family: "Titillium Web", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 0.75;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 120px;
	margin-bottom: 21px;
}

.line {
	border-bottom: 4px solid;
	width: 87px;
	opacity: 0.15;
	background-color: #000000;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	margin-top: 23px;
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.36px;
	text-align: center;
	opacity: 0.85;
}

/*---services---*/

.services {
	background-color: #17c2a4;
	height: 750px;
}

.title__white {
	color: #ffffff;
}

.subtitle__white {
	color: #ffffff;
}

div .services__toll {
}

.services__item {
	width: 24.7777%;
	margin-top: 85px;
	display: inline-block;
}

.caption {
	text-align: center;
	margin: 10px 0 0 0;
}

.services__icon {
	display: block;
	margin: 0 auto;
	padding-bottom: 62px;
}

.services__title {
	height: 18px;
	font-size: 24px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.75;
	letter-spacing: 0.48px;
	color: #ffffff;
	margin-bottom: 27px;
	text-align: center;
}

.services__text {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: #ffffff;
	opacity: 0.85;
}

/*---team---*/

.team {
	background-color: #e7f1f8;
	height: 915px;
}

.title__blue {
	color: #3c4761;
}

.subtitle__blue {
	color: #3c4761;
}

.team__item {
	width: 24.7777%;
	margin-top: 85px;
	display: inline-block;
}

.team__icon {
	display: block;
	margin: 0 auto;
	padding-bottom: 45px;
}

.team__people {
	height: 18px;
	font-size: 24px;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.75;
	letter-spacing: 0.48px;
	color: #3c4761;
	margin-bottom: 15px;
	text-align: center;
}

.team__text {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: #3c4761;
	opacity: 0.85;
	margin-bottom: 35px;
}

.team__status {
	color: #30bae7;
	margin-bottom: 25px;
}

.social__link a {
	margin: 0 4px;
}
